<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/dino.png" height="60" title="Frontend" alt=""></td>
        <td><a href="{{site.baseurl}}/plans/snake">Snake Game</a></td>
        <td><a href="{{site.baseurl}}/plans/game">Group Project</a></td>
        <!-- <td><a href="{{site.baseurl}}/plans/game">Snake</a></td> -->
        <!-- <td><a href="{{site.baseurl}}/plans/game">Calculator</a></td> -->
        <td><a href="{{site.baseurl}}/plans/calc">Calculator</a></td>
    </tr>
</table>